*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.back-video {
    position: fixed; /* 비디오를 고정 배경으로 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오를 화면에 꽉 차게 */
    z-index: -1; /* 비디오를 모든 요소 뒤로 보내기 */
    opacity: 0.8;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 1; /* 비디오 위에 표시되도록 설정 */
}

nav .logo{
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
}

.wrapper{
    width: 600px;
    background: transparent;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper header{
    font-family: "Prata", system-ui;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font-size: 12px;
}

.quote-area i:first-child{
    font-size: 3px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    font-size: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    font-size: 22px;
    text-align: center;
    white-space: normal; /* 여러 줄로 표시 허용 */
    word-break: keep-all; /* 단어가 짤리지 않도록 설정 */
    overflow-wrap: break-word; /* 긴 단어는 자동 줄바꿈 */
}

.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: rgb(25, 25, 25, 0.85);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(25, 25, 25, 0.85);
    transition: all 0.3s ease;
}

.features ul li:hover{
    color: #fff;
    background: rgb(25, 25, 25, 0.85);
}

.features button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: rgb(25, 25, 25, 0.85);
}
