*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prata", system-ui;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary: #fff;
    --bg-color: rgb(255, 255, 255);
    --bg-envelope-color: #fff8dd;
    --envelope-tab:#ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: #444;
    --heart-color: rgb(0, 0, 0);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    display: grid;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.envelope-wrapper {
    position: relative;
    display: inline-block;
}

.container > .envelope-wrapper{
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

.container > .envelope-wrapper >.envelope{
    position: relative;
    width: 300px;
    height: 230px;
}

.container > .envelope-wrapper >.envelope::before{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}


.container > .envelope-wrapper >.envelope::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 130px solid transparent;
    border-left: 150px solid var(--envelope-cover);
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    bottom: 0;
}

.letter{
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: var(--primary);
    transition: all 1s ease-in-out;
    padding: 20px 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.letter > .text{
    font-family: "Prata", system-ui;
    font-size: 10px;
    color: var(--text-color);
    text-align: left;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
}

.heart::before,
.heart::after{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--heart-color);
    border-radius: 50%;
}

.heart::before{
    top: -7.5px;
}

.heart::after{
    right: 7.5px;
}

.flap > .envelope::before{
    z-index: 0;
    transform: rotateX(180deg);
}

.flap > .envelope .letter{
    bottom: 100px;
    transform: scale(1.5);
    transition-delay: 1s;
    z-index: 2;
}

.flap > .heart{
    transform: rotate(90deg);
    transition-delay: 0.4s;
}


.more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.more-button:hover {
    background-color: #555;
}
