*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav .logo{
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* 투명한 배경 추가 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* 기본적으로 숨김 */
    transition: opacity 0.4s ease; /* 호버 시 부드럽게 나타남 */
    border-radius: inherit; /* 카드의 모서리와 동일하게 적용 */
}

.overlay h1 {
    font-size: 3rem; /* 텍스트 크기 */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 50;
    font-style: italic;
    font-family: 'Roboto' sans-serif;
}

.card:hover .overlay {
    opacity: 1; /* 호버 시 나타남 */
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}


.card {
    flex: 1;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.5s ease;
}

.card > .row {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transform: all .2s ease;
}

.description p {
    color: #000000;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 100%;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url(img/1.PNG);
}

.card[for="c2"] {
    background-image: url(img/2.PNG);
}

.card[for="c3"] {
    background-image: url(img/3.jpg);
}

.card[for="c4"] {
    background-image: url(img/4.jpeg);
}

.card:hover{
    transform: translateX(0px);
    z-index: 5;
}
