*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(240, 240, 228);
    color: #23356D;
    font-family: "Prata", system-ui;
    line-height: 1.35;
    margin: 0 auto;
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 로고와 바를 양쪽 끝으로 배치 */
    z-index: 10;
}

nav .logo {
    width: 80px;
    margin-right: auto; /* 로고를 왼쪽으로 붙임 */
}

nav ul {
    display: flex;
    gap: 15px; /* 링크 간의 간격 설정 */
    margin-left: auto; /* 네비게이션 바를 오른쪽으로 붙임 */
    list-style: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.title-container h1 {
    font-family: "Prata", system-ui;
    font-size: 100px;
    position: relative;
    color: black;
    z-index: 50;
}

h4 {
    font-size: xx-large;
}

.background-fade {
    position: fixed;
    display: inline-block;
    text-decoration: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeInAnimation 1.5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo {
    position: absolute;
    align-items: center;
    left: 10%;
}

#asterisk {
    display: block;
    position: fixed;
    align-items:center;
    width: 12%;
    animation: spin 10s linear infinite;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    z-index: 10;
    cursor: pointer;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#asterisk:hover {
    transform: rotate(360deg);
    transition: transform 0.3s ease-in-out;
}

/* gallery */
#pop-1 {
    display: block;
    position: relative;
    width: 20%;
    top: 50px;
    left: 50px;
    animation: reveal 7s forwards;
    opacity: 0;
    animation-delay: 1s;
}

#pop-2 {
    display: block;
    position: relative;
    width: 10%;
    top: 80px;
    left: 1000px;
    animation: reveal 4s forwards;
    opacity: 0;
    animation-delay: 2s;
}

#pop-3 {
    display: block;
    position: relative;
    width: 10%;
    top: 55px;
    left: 320px;
    animation: reveal 6s forwards;
    opacity: 0;
    animation-delay: .5s;
    z-index: 1;
}

#pop-4 {
    display: block;
    position: relative;
    width: 20%;
    top: 130px;
    left: 1000px;
    animation: reveal 5s forwards;
    opacity: 0;
    animation-delay: .7s;
    z-index: 1;
}

#pop-5 {
    display: block;
    position: relative;
    width: 17%;
    top: -350px;
    left: 700px;
    bottom: 100px;
    animation: reveal 8s forwards;
    opacity: 0;
    animation-delay: .9s;
}

#pop-6 {
    display: block;
    position: relative;
    width: 22%;
    top: -1050px;
    left: 1060px;
    animation: reveal 4s forwards;
    z-index: -1;
    opacity: 0;
    animation-delay: .3s;
}

#pop-7 {
    display: block;
    position: relative;
    width: 30%;
    top: -1000px;
    left: 100px;
    animation: reveal 6s forwards;
    opacity: 0;
    animation-delay: 1.8s;
}

#pop-8 {
    display: block;
    position: relative;
    width: 15%;
    top: -1400px;
    left: 600px;
    animation: reveal 5s forwards;
    opacity: 0;
    animation-delay: 3s;
    z-index: 1;
}

#pop-9 {
    display: block;
    position: relative;
    width: 11.5%;
    top: -2300px;
    left: 680px;
    animation: reveal 4s forwards;
    opacity: 0;
    animation-delay: 1.2s;
}

#pop-10 {
    display: block;
    position: relative;
    width: 20%;
    top: -2400px;
    left: 150px;
    animation: reveal 10s forwards;
    opacity: 0;
    animation-delay: 2s;
}

#pop-11 {
    display: block;
    position: relative;
    top: -2000px;
    left: 800px;
    animation: reveal 5s forwards;
    opacity: 0;
    animation-delay: 3s;
}

#pop-12 {
    display: block;
    position: relative;
    width: 15%;
    top: -2500px;
    left: 1150px;
    animation: reveal 8s forwards;
    opacity: 0;
    animation-delay: 3;
    z-index: 2;
}

#pop-13 {
    display: block;
    position: relative;
    width: 18%;
    top: -2400px;
    animation: reveal 5s forwards;
    opacity: 0;
    animation-delay: 4s;
}

#pop-14 {
    display: block;
    position: relative;
    width: 20%;
    top: -2600px;
    left: 690px;
    animation: reveal 6s forwards;
    opacity: 0;
    animation-delay: 2s;
    z-index: 1;

}

#pop-15 {
    display: block;
    position: relative;
    width: 10%;
    top: -3100px;
    left: 1080px;
    animation: reveal 9s forwards;
    opacity: 0;
    animation-delay: 5s;
}

#pop-16 {
    display: block;
    position: relative;
    width: 18%;
    top: -3100px;
    left: 80px;
    animation: reveal 6.5s forwards;
    opacity: 0;
    animation-delay: 2.5s;
}

#pop-17 {
    display: block;
    position: relative;
    width: 17%;
    top: -3100px;
    left: 900px;
    animation: reveal 7s forwards;
    opacity: 0;
    animation-delay: 3.5s;
}

#pop-18 {
    display: block;
    position: relative;
    width: 15%;
    top: -3800px;
    left: 270px;
    animation: reveal 4.5s forwards;
    opacity: 0;
    animation-delay: 4s;
}

#pop-19 {
    display: block;
    position: relative;
    width: 11%;
    top: -3870px;
    left: 400px;
    animation: reveal 5s forwards;
    opacity: 0;
    animation-delay: 4.3s;
    z-index: 1;
}

#pop-20 {
    display: block;
    position: relative;
    width: 20%;
    top: -4100px;
    left: 1300px;
    animation: reveal 3.5s forwards;
    opacity: 0;
    animation-delay: 2.3s;
}

#pop-21 {
    display: block;
    position: relative;
    width: 13%;
    top: -4000px;
    left: 130px;
    animation: reveal 3s forwards;
    opacity: 0;
    animation-delay: 5s;
}

.pop-container {
    z-index: -1000;
    max-height: 3280px;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
